*{
    margin:0;
    padding:0;
}
body{
    background-color:rgb(255, 0, 89);

}
.container{
    width:360px;
    padding:33px;
    text-align:center;
    background-color:white;
    margin-left:33%;
    margin-top:200px;
    
}
input{
    width:270px;
    padding:5px;
    
    
    border:3px solid aqua;
    outline:none;
    font-size: 19px;
}
button{
    width:60px;
    height:41px;
    background-color:black;
    color:white;
    
    cursor:pointer;
    font-size:19px;
    border:none;
    outline:none;
}
.text ul{
    position:relative;
    background-color:green;
    padding:10px;
    color:white;
    border-radius: 2px;
    font-size:19px;
    text-align:left;
    

}
.text ul i{
    position:absolute;
    right:10px;
    cursor:pointer;
}
ul span{
    position:absolute;
    padding:1px;
    right:0;
    top:2px;
    width:40px;
    height: 37px; 
    font-size: 22px;
    color:white;
    line-height:40px;
    text-align:center;
    cursor: pointer;
}
ul span:hover{
    background:red;
}